@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #f82819;
  --font-color: #f4f4f4;
  --success-color: #f4f4f4;
  --error-color: #f82819;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
  line-height: 1.6;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

input[type="email"],
input[type="password"] {
  font-family: "Lato", sans-serif;
  width: 100%;
  background: transparent;
  color: var(--font-color);
  border: none;
  border-bottom: solid 1px var(--font-color);
  outline: none;
  padding: 10px;
  font-size: large;
  margin-top: 10px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border: solid 1px var(--font-color);
  border-radius: 2px;
}
a.button,
button {
  padding: 1em;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: var(--font-color);
  outline: none;
  border: 1px solid var(--font-color);
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.25s;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(black, transparent);
}

nav {
  position: relative;
  width: 400px;
  height: 12vh;
}

ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
  margin: 0 1em;
}

ul li a {
  font-size: x-large;
  letter-spacing: 3px;
  padding: 10px;
}

ul li a:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.login-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.login-container {
  position: relative;
  width: 50vw;
  height: 100vh;
}

.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 500px;
  width: 500px;
  transform: translate(-50%, -50%);
  padding: 0 2em 2em 2em;
  border-radius: 5px;
  border: solid var(--secondary-color) 2px;
}

.login-logo {
  max-width: 250px;
  margin: 0 auto;
}
.login-field {
  width: 100%;
  margin-bottom: 1em;
}

.label-input {
  font-weight: bold;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.login-button button {
  font-size: large;
  font-weight: bold;
}

.login-banner {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
.login-banner:after {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, black, transparent);
}

.logo-header-wrapper {
  position: relative;
  text-align: center;
  width: 250px;
  height: 12vh;
}

.logo-header {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo-header img {
  width: 100%;
  height: auto;
}

section.banner {
  position: absolute;
  top: 0;
}

.banner-card {
  width: 100vw;
  height: 90vh;
}

.banner-card:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 500px;
  width: 100vw;
  background-image: linear-gradient(0deg, black, transparent);
}

.banner-card img {
  object-fit: cover;
}

.left-side {
  display: flex;
}

.side-nav {
  position: relative;
  height: 12vh;
  width: 250px;
}

.side-nav a.button {
  font-size: large;
  padding: 0.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a.button:hover {
  background-color: transparent;
  border-color: var(--secondary-color);
  transform: translateY(-50%) scale(1.2);
}

section.cards {
  position: relative;
  margin-top: 35%;
  padding: 2em;
}

.card-genre {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 10vh;
}

.card-label {
  font-weight: bold;
  font-size: x-large;
  margin: 1em 0;
}

.card-list {
  display: flex;
  width: 100%;
}

footer {
  position: relative;
  height: 10vh;
  width: 100vw;
}

footer h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-wrapper {
  width: 15vw;
  margin: 0 10px;
}

.card-wrapper:hover {
  border: 3px solid var(--secondary-color);
}

@media (max-width: 1400px) {
  .card-genre {
    margin-bottom: 1vh;
  }
}
